# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Logs (los reales se regeneran; los samples sí se commitean)
logs/
!logs_sample/

# DB local
*.db

# Locust reports
locust_report.html
*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
